@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@font-face {
    font-family: font1;
    src: url('/public/fonts/Lausanne-300.woff2');
}
@font-face {
    font-family: font2;
    src: url('/public/fonts//Lausanne-500.woff2');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mask-clip {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.mask-clip span {
  -webkit-text-stroke: 8px transparent;
  /* adds thickness */
}

.custom-border {
  --mask-url: url('/svg/footer_cutout.svg');

  -webkit-mask-image: var(--mask-url);
  mask-image: var(--mask-url);

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;
}


@media only screen and (max-width: 629px) {
  .custom-border {
    --mask-url: url('/svg/cutout_tablet.svg');
  }
}


.moveX {
  animation-name: moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.moveLink{
    opacity: 0;
    transition: all ease 0.3s;
}

.link:hover .moveLink{
    opacity: 1;
}

@keyframes moveAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none;   
  -ms-overflow-style: none; 
}